/* 
#274156
#FBFCFF
#2A4747 - header and canvas
#E2DCDE - nav links
*/

/* use REMs for sizes and spacing - REMs set font sizes based on font size of the root HTML element,
use EMs for media queries -min-width: 64em = Hit
max-width: 63.99em = Miss
max-width: 63.999999em = Hit
min-width: 640px = Hit
max-width: 639px = Miss
max-width: 639.999999px = Miss */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  line-height: 3rem;
}

header {
  background-color: rgba(42, 71, 71, 0.9);
  font-size: 2rem;
  padding: 0.5rem;
}

ul, a {
  list-style-type: none;
  text-decoration: none;
  color: #E2DCDE;
  font-size: 3rem;
  font-family: 'Sansita Swashed', cursive;
  font-weight: 300;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  justify-items: center;
  margin-left: -4rem;
}

.welcome {
  display: block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: #274156;
  padding: 2rem 10rem 10rem 10rem;
  border-bottom: 2px solid #fff;
}

.welcome::after {
  content: "";
  background-image:  url("images/mountain.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.welcome > h1 {
  font-family: 'Sansita Swashed', cursive;
}

.profile-img {
  height: 25rem;
  padding-top: 2em;
}

section {
  font-size: 2rem;
  text-align: center;
  padding: 6rem;
}

#about {
  background-color:  rgba(42, 71, 71, 0.9);
  color:  #E2DCDE;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project-img {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
}

.project-link {
  color: #274156;
}

.project-para {
  padding: 0 2rem;
}


@media screen and (max-width: 64em) {
  header {
    padding : 2.5em;
  }

  ul {
    font-size: 2rem;
  }

  .welcome {
    padding: 4rem;
  }

  .welcome::after {
    opacity: 0.4;
  }
  
}

